{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "requireConfigFile": false,
    "project": ["**/tsconfig.eslint.json"]
  },
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "problems",
    "plugin:import/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:promise/recommended",
    "plugin:cypress/recommended",
    "plugin:sonarjs/recommended",
    "plugin:sort/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "import",
    "import-newlines",
    "react",
    "jsx-a11y",
    "cypress",
    "sonarjs",
    "promise",
    "sort"
  ],
  "rules": {
    "no-console": "error",
    "jsx-a11y/href-no-hash": [0],
    "react/jsx-max-props-per-line": [1, {
      "maximum": 1
    }],
    "react/require-default-props": [2, {
      "forbidDefaultForRequired": false
    }],
    "react/static-property-placement": [2, "property assignment", {
      "defaultProps": "static public field",
      "contextType": "static public field",
      "contextTypes": "static public field"
    }],
    "padding-line-between-statements": ["error", {
      "blankLine": "always",
      "prev": ["const", "let"],
      "next": "*"
    }, {
      "blankLine": "any",
      "prev": ["const", "let"],
      "next": ["const", "let"]
    }, {
      "blankLine": "always",
      "prev": ["if", "function", "for"],
      "next": "*"
    }, {
      "blankLine": "always",
      "prev": "*",
      "next": "return"
    }],
    "curly": ["error", "all"],
    "complexity": ["error", 5],
    "@typescript-eslint/ban-ts-comment": [1],
    "import/no-cycle": [0],
    "no-duplicate-imports": [0],
    "no-loss-of-precision": [0],
    "no-unreachable-loop": [0],
    "no-useless-backreference": [0],
    "no-unused-private-class-members": [2],
    "no-await-in-loop": 0,
    "promise/always-return": [0],
    "sonarjs/no-small-switch": [0],
    "sonarjs/prefer-single-boolean-return": [0],
    "func-names": [0],
    "object-curly-newline": ["error", {
      "ObjectExpression": "always",
      "ObjectPattern": "always",
      "ImportDeclaration": "always",
      "ExportDeclaration": "always"
    }],
    "function-call-argument-newline": ["error", "always"],
    "object-property-newline": ["error", {
      "allowMultiplePropertiesPerLine": false
    }],
    "import-newlines/enforce": ["error", {
      "items": 1,
      "forceSingleLine": false
    }],
    "sort/imports": [0],
    "sort/exports": [0]
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true,
    "cypress/globals": true
  }
}
